@using PlaidQuickstartBlazor.Shared
@inject HttpClient Http

      <div class="endpointContainer">
        <Note>
          POST
        </Note>
        <div class="endpointContents">
          <div class="endpointHeader">
            @if ( Name is not null )
            {
                <span class="endpointName">@Name</span>
            }
            <span class="schema">@Schema</span>
          </div>
          <div class="endpointDescription">@Description</div>
        </div>
        <div class="buttonsContainer">
          <button type="button"
            class="btn btn-primary sendRequest"
            @onclick="GetData"
          >
            @(isLoading ? "Loading..." : "Send request")
          </button>
        </div>
      </div>
      @if (TableData is not null)
      {
        <Table Data="@TableData" />
      }
      @if (ErrorValue is not null)
      {
          <Error>@ErrorValue</Error>
      }

@code {
    [Parameter]
    public string? Api { get; set; }

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Schema { get; set; }

    [Parameter]
    public string? Description { get; set; }

    private bool isLoading { get; set; }

    private string? ErrorValue { get; set; }

    private DataTable? TableData { get; set; }

    private async Task GetData()
    {
        isLoading = true;

        try
        {
            var response = await Http.GetAsync($"Fetch/{Api}");
            if (response.IsSuccessStatusCode)
            {
                TableData = await response.Content.ReadFromJsonAsync<DataTable>();             
            }
            else
            {
                ErrorValue = await response.Content.ReadAsStringAsync();
            }
        }
        catch (Exception ex)
        {
            ErrorValue = ex.Message;
        }

        isLoading = false;
    }
}